<div class="settings-grid">
  <label>Source</label>
  <input id="source" ng-model="newSource" type="text"/>

  <label>Input Format</label>
  <div>
    <input id="json" name="inputFormat" type="radio" value="json"/>
    <label for="json">Json</label>
    <input id="csv" name="inputFormat" type="radio" value="csv"/>
    <label for="csv">CSV</label>
  </div>

  <label>CSV Format</label>
  <input type="text" value="date|level|machinename|processname|logger|message"/>

  <label>Max rows</label>
  <input id="maxRows" ng-change="setLineCount(numberOfLines)" ng-model="numberOfLines" type="number"/>
</div>
<div class="settings-grid">
  <label>Colors</label>
  <div>
    <label for="systemColor">System</label><input id="systemColor" type="color">
    <label for="traceColor">Trace</label><input id="traceColor" type="color">
    <label for="debugColor">Debug</label><input id="debugColor" type="color">
    <label for="infoColor">Info</label><input id="infoColor" type="color">
    <label for="warnColor">Warn</label><input id="warnColor" type="color">
    <label for="errorColor">Error</label><input id="errorColor" type="color">
    <label for="fatalColor">Fatal</label><input id="fatalColor" type="color">
  </div>
</div>

<div class="container">
  <button ng-click="addSource(newSource, newSoureColor)">Apply</button>
</div>
