.settings-grid {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: var(--container-space);
  margin: var(--container-space);
  align-items: baseline;

  & > * {
    align-self: center;
  }
}

.settings-cell {
  display: flex;
  align-items: baseline;

  & > * {
    align-self: center;
  }
}
