<?xml version="1.0" encoding="utf-8"?>
<nlog throwExceptions="true">
  <extensions>
    <add assembly="NLog.Contrib.Targets.WebSocket" />
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets async="true">
    <target type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" name="consolelog" />
    <target name="logfile" type="File" fileName="file.txt" />
    <target name="websocket" type="NLog.Contrib.Targets.WebSocket" throwExceptionIfSetupFails="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile, websocket, consolelog" />
  </rules>
</nlog>
