<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      throwExceptions="true">
  <extensions>
    <add assembly="NLog.Contrib.Targets.WebSocketServer.Core"/>
  </extensions>
  <targets async="true">
    <target xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" name="consolelog"/>
    <target xsi:type="NLog.Contrib.Targets.WebSocketServer.Core"
            name="websocket"
            throwExceptionIfSetupFails="true">
      <layout xsi:type="CsvLayout" delimiter="Pipe" withHeader="false">
        <column name="time" layout="${longdate}"/>
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="machinename" layout="${event-properties:machinename:whenEmpty=${machinename}}"/>
        <column name="processname" layout="${event-properties:processname:whenEmpty=${processname}}"/>
        <column name="logger" layout="${logger}"/>
        <column name="message" layout="${message}"/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="websocket, consolelog"/>
  </rules>
</nlog>
