<?xml version="1.0" encoding="utf-8"?>

<nlog throwExceptions="true">
  <extensions>
    <add assembly="NLog.Contrib.Targets.WebSocketServer.Core"/>
  </extensions>
  <targets async="true">
    <target type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" name="consolelog"/>
    <target name="websocket" type="NLog.Contrib.Targets.WebSocketServer.Core" throwExceptionIfSetupFails="true"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="websocket, consolelog"/>
  </rules>
</nlog>
