<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true">
  <extensions>
    <add assembly="NLog.Contrib.Targets.WebSocketServer" />
  </extensions>
  <targets>
    <target type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" name="consolelog" />
    <target name="logfile" type="File" fileName="file.txt" />
    <target name="websocket" type="NLog.Contrib.Targets.WebSocketServer" port="9001" throwExceptionIfSetupFails="true" maxConnectedClients="100" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile, websocket, consolelog" />
  </rules>
</nlog>