/* You can add global styles to this file, and also import other style files */
@import "styles/_index.scss";

:root {
  --margin: 5px;
  --padding: 5px;
  --container-space: 16px;
  --bgcolor: #222426;
  --textcolor: #fff;
  --menu-bgcolor: #333;
  --menu-hovercolor: #606266;
}

* {
  box-sizing: border-box;
}

/* Provide sufficient contrast against dark background */
body {
  margin: 0;
  background-color: var(--bgcolor);
  color: var(--textcolor);
  font-family: 'Segoe UI', sans-serif;
}

input {
  border: 1px solid #666;
  border-radius: 4px;
  margin: 0 var(--margin);
  line-height: 20px;
  background: #555;
  color: var(--textcolor);
  vertical-align: inherit;

  &[type=number] {
    text-align: end;
  }

  &[type=color] {
    height: 24px;
    width: 24px;
  }
}

button {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  border-color: #666;
  background: #555;
  padding: 3px 16px;
  border-radius: 5px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(192, 192, 192, .4);
  }
}

.container {
  margin: var(--container-space);
}
