/* You can add global styles to this file, and also import other style files */
@import "styles/_index.scss";

:root {
  --margin: 5px;
  --padding: 5px;
}

* {
  box-sizing: border-box;
}

/* Provide sufficient contrast against dark background */
body {
  margin: 0;
  background-color: #222426;
  color: #fff;
  font-family: 'Segoe UI';
}

input {
  border: 1px solid #444;
  border-radius: 4px;
  margin: 0 var(--margin);
  line-height: 20px;
  vertical-align: text-top;

  &[type=number] {
    text-align: end;
  }

  &[type=color] {
    height: 24px;
    width: 24px;
  }
}

button {
  padding: var(--padding);
  border-radius: 3px;
}

.container {
  margin: 16px;
}
