<nav class="menu main-menu">
  <div>
    <button class="symbolButton" [ngClass]="{blink : paused$ | async}" (click)="pause()">Pause</button>
    <button class="symbolButton" (click)="clear()">Clear</button>
    <!--<label>Highlight</label><input id="highlight" ng-change="highlight(highlightText)" ng-model="highlightText" type="text"/>-->
    <!--<label>Filter Regex</label><input id="regex" ng-change="filter(filterExpression)" ng-model="filterExpression" type="text"/>-->
  </div>
  <div>
    <a (click)="openSettings()">Settings</a>
  </div>
</nav>

<div *ngIf="settingsOpen$ | async" class="menu">
  <app-log-settings></app-log-settings>
</div>

