<div class="menu">
  <div class="spacer-row">
    <!--<button ng-class="{blink : paused}" ng-click="pause()">Pause</button>-->
    <button (click)="clear()">Clear</button>
    <div class="spacer"></div>
    <!--<label>Highlight</label><input id="highlight" ng-change="highlight(highlightText)" ng-model="highlightText" type="text"/>-->
    <!--<label>Filter Regex</label><input id="regex" ng-change="filter(filterExpression)" ng-model="filterExpression" type="text"/>-->
    <a>Settings</a>
  </div>
</div>
