<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      throwExceptions="true">
    <targets async="true">
        <target xsi:type="Network"
                name="tcplog"
                address="tcp://localhost:4505"
                maxQueueSize="1024">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${longdate}"/>
                <attribute name="level" layout="${level}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="message" layout="${message}"/>
                <attribute name="machinename" layout="${machinename}"/>
                <attribute name="processname" layout="${processname}}"/>
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="tcplog"/>
    </rules>
</nlog>
